openapi: "3.0.3"
info:
  description: The API provides the user with the capability to get restrictions for a cross border transaction.
  version: 1.0.0
  title: Avalara - Restrictions - API
  contact:
    email: support@avalara.com
  license:
    name: Avalara License
    url: http://www.avalara.com
servers:
  - description: Restrictions Sandbox URL
    url: https://restrictions-sandbox.classification.avalara.net
  - description: Restrictions Production URL
    url: https://restrictions.classification.avalara.net
  - description: Sandbox Auth URL
    url: https://api-sandbox.classification.avalara.net
  - description: Production Auth URL
    url: https://api.classification.avalara.net
paths:
  '/xboauth2server/oauth/token':
    post:
      tags:
        - GetAuthenticationToken
      summary: Obtain an access token
      security:
        - basicAuth: []
      description: Obtain an access token
      operationId: GetAuthenticationToken
      responses:
        '200':
          description: Successful request and will return a token to access the API.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthResponse'

  '/api/v2/companies/{companyId}/restrictions':
    post:
      tags:
        - BasketModel
      summary: Get restrictions for a basket of products.
      security:
        - oAuthSecurity: []
      description: Get restrictions for a basket of products.
      operationId: BasketModel
      parameters:
        - name: companyId
          in: path
          required: true
          description: The ID of the company that owns this item.
          schema:
            $ref: '#/components/schemas/companyId'
      requestBody:
        description: The details for the item which requires quoting.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasketModel'
            examples:
              sample-request:
                $ref: '#/components/examples/SampleRequest'
      responses:
        "200":
          description: Successful request returns restrictions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasketResponseModel'
              examples:
                sample-response:
                  $ref: '#/components/examples/SampleResponse'
        "401":
          description: Authentication required. Can be caused by a missing or expired token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
              example:
                error:
                  details:
                    -
                      code: AuthenticationIncomplete
                      number: 34
                      message: Authentication Incomplete.
                      description: You must provide an Authorization header of the type Bearer to authenticate correctly.  {0}
                      helpLink: http://developer.avalara.com/avatax/errors/AuthenticationIncomplete
                      severity: Exception
        "422":
          description: Request cannot be processed. The validation of the parameters provided in the request body failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
              example:
                error:
                  details:
                    -
                      code: CountryNotSupported
                      number: 3107
                      message: Destination country 'ZZ' is not supported
                      description: Restrictions are not available for provided destination country
                      severity: ERROR
                    -
                      number: 5
                      message: Field id is required.
                      description: Please provide a value for field id.
                      helpLink: http://developer.avalara.com/avatax/errors/ValueRequiredError
                      code: ValueRequiredError
                      severity: ERROR
components:
  securitySchemes:
    oAuthSecurity:
      type: http
      scheme: bearer
    basicAuth:
      type: http
      scheme: basic
  schemas:
    BasketModel:
      required:
        - id
        - companyId
        - currency
        - shipTo
        - lines
        - type
      properties:
        id:
          type: string
          maxLength: 200
          description: The unique ID number for the restriction
          example: QT5654560
        companyId:
          type: number
          description: The unique ID number of the company for the basket.
          example: 202102
        currency:
          type: string
          maxLength: 3
          description: The currency for the restriction. ISO-4217
          example: CAD
        shipFrom:
          $ref: '#/components/schemas/AddressInfo'
        shipTo:
          $ref: '#/components/schemas/AddressInfo'
        lines:
          type: array
          description: List of basket lines.
          items:
            $ref: '#/components/schemas/BasketLineItemModel'
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/BasketParameterModel'
          example:
            -
              name: SHIPPING
              value: '20.01'
              unit: 'USD'
        type:
          type: string
          readOnly: true
          maxLength: 20
          description: Pricing Strategy.
          example: QUOTE_MINIMUM
          enum: [QUOTE_MINIMUM, QUOTE_MAXIMUM, QUOTE_AVERAGE]
        sellerCode:
          type: string
        taxRegistered:
          type: boolean
    BasketResponseModel:
      properties:
        id:
          type: string
          maxLength: 1000
          description: The unique ID number for the restriction.
          example: QT5654560
        companyId:
          type: integer
          description: The unique ID number of the company for the basket.
          example: 202102
        currency:
          type: string
          maxLength: 3
          description: The currency for the restriction response. ISO-4217
          example: CAD
        shipFrom:
          $ref: '#/components/schemas/AddressInfo'
        shipTo:
          $ref: '#/components/schemas/AddressInfo'
        lines:
          type: array
          description: List of basket lines.
          items:
            $ref: '#/components/schemas/BasketResponseLineItemModel'
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/BasketParameterModel'
          example:
            -
              name: SHIPPING
              value: '20.01'
              unit: 'USD'
        type:
          type: string
          readOnly: true
          maxLength: 20
          description: Pricing Strategy.
          example: QUOTE_MINIMUM
          enum: [QUOTE_MINIMUM, QUOTE_MAXIMUM, QUOTE_AVERAGE]
        sellerCode:
          type: string
        taxRegistered:
          type: boolean
    AddressInfo:
      required:
        - country
      properties:
        line1:
          type: string
          maxLength: 100
          description: First line of the street address
          example:
        line2:
          type: string
          maxLength: 100
          description: Second line of the street address
          example:
        line3:
          type: string
          maxLength: 100
          description: Third line of the street address
          example:
        city:
          type: string
          maxLength: 50
          description: City component of the address
          example:
        region:
          type: string
          maxLength: 50
          description: The code identifying the region within the country. For Canada use ISO 3166-2:CA
          example:
        country:
          type: string
          maxLength: 2
          description: Two characters ISO 3166 code identifying the country
          example: US
        postalCode:
          type: string
          maxLength: 11
          description: Postal Code / Zip Code component of the address.
          example: L4A 2L4
        latitude:
          type: number
          description: Geospatial latitude measurement, in Decimal Degrees floating point format.
          example:
        longitude:
          type: number
          description: Geospatial longitude measurement, in Decimal Degrees floating point format.
          example:
    BasketLineItemModel:
      required:
        - lineNumber
        - item
        - quantity
        - classificationParameters
      properties:
        lineNumber:
          type: number
          description: The line number or code indicating the line on this basket.
          example: 15646456
        item:
          $ref: '#/components/schemas/ItemModel'
        quantity:
          type: number
          description: The quantity of products in this line item.
          example: 11
        classificationParameters:
          type: array
          items:
            $ref: '#/components/schemas/BasketParameterModel'
          example:
            -
              name: coo
              value: CN
              unit: ''
            -
              name: price
              value: '12.32'
              unit: 'USD'

    RestrictionsModel:
      properties:
        type:
          type: string
          description: Type of restrictions
          example: IMPORT
        hsCode:
          type: string
          description: hs code
          example: 9401200090
        regulation:
          type: string
          description: Regulation
          example: PROHIBITED
        compliance_message:
          type: string
          description: Compliance message.
          example: Soiled hiking boots are prohibited from import.

    BasketResponseLineItemModel:
      properties:
        lineNumber:
          type: number
          description: The line number or code indicating the line on this basket.
          example: 15646456
        item:
          $ref: '#/components/schemas/ItemModel'
        quantity:
          type: number
          description: The quantity of products in this line item.
          example: 11
        restrictions:
          type: array
          description: List of restrictions lines.
          items:
            $ref: '#/components/schemas/RestrictionsModel'

    ItemModel:
      description: Product details. This is an extended version of the ItemModel (used by the Classification product)
      required:
        - itemCode
        - description
        - itemGroup
        - classificationParameters
      properties:
        itemCode:
          type: string
          maxLength: 255
          description: A unique code representing this item. It’s recommended to use the SKU number.
          example: ABC
        description:
          type: string
          maxLength: 1000
          description: A short description of the product. It’s also referred as product title or name.
          example: Vera Wang Night Gown
        summary:
          type: string
          maxLength: 4000
          description: A long description of the product.
        itemGroup:
          type: string
          maxLength: 4000
          description: Product category breadcrumbs. This is the full path to the category where item is included. Categories should be separated by ` > `.
          example: Clothing > Women > Formal
        classificationParameters:
          type: array
          items:
            $ref: '#/components/schemas/BasketParameterModel'
          example:
            -
              name: coo
              value: CN
              unit: ''
            -
              name: price
              value: '12.32'
              unit: 'USD'
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/BasketParameterModel'
          example:

    BasketParameterModel:
      required:
        - name
        - value
      properties:
        name:
          type: string
          maxLength: 255

          description: The system has predefined list of parameter names that are known and processed accordingly`:` coo, description, image_url, url, material, price weight, height, length, width.
          enum: [coo, description, image_url, url, material, price, weight, height, length, width]
        value:
          type: string
          maxLength: 1000

          description: The parameter’s value.
        unit:
          type: string
          maxLength: 255

          description: The unit of measurement code for the parameter. For price parameter the unit is required and must be currency code alpha ISO 4217. The only currency currently supported is “USD”.

    companyId:
      type: integer
      example: 3402
      description: The ID of the company that owns this item.

    OAuthResponse:
      properties:
        access_token:
          type: string
          description: Access token
          example: dh1GJXXhykuvAc/fflHvG9m8Jqz2MipbfpTBWxdlSHQ==
        token_type:
          type: string
          description: Token type
          example: BearerToken
        expires_in:
          type: integer
          description: Token expires in specified milliseconds time.
          example: 600000

    ErrorInfo:
      properties:
        code:
          type: string
          description: Name of the error. Refer to Error Codes section for a list of accepted values.
        message:
          type: string
          description: Short one-line message to summarize what went wrong
        target:
          type: string
          enum: [Unknown, HttpRequest, HttpRequestHeaders, IncorrectData]
          description: What object or service caused the error? (Unknown, HttpRequest, HttpRequestHeaders, IncorrectData)
          example: HttpRequest
        details:
          type: array
          description: Array of detailed error messages
          items:
            $ref: '#/components/schemas/ErrorDetail'
    ErrorDetail:
      properties:
        code:
          type: string
          description: Name of the error. Refer to Error Codes section for a list of accepted values.
          example: AuthenticationIncomplete
        number:
          type: integer
          description: Unique ID number referring to this error or message.
          example: 34
        message:
          type: string
          description: Concise summary of the message, suitable for display in the caption of an alert box.
          example: Authentication Incomplete.
        description:
          type: string
          description: A more detailed description of the problem referenced by this error message, suitable for display in the contents area of an alert box.
          example: You must provide an Authorization header of the type Bearer to authenticate correctly.  {0}
        helpLink:
          type: string
          description: URL to help for this message
        refersTo:
          type: string
          description: Item the message refers to, if applicable. This is used to indicate a missing or incorrect value.
        severity:
          type: string
          enum: [Success, Warning, Error, Exception]
          description: Severity of the message`:`  Success, Warning, Error and Exception.
  examples:
    SampleRequest:
      summary: Restriction api example request
      value: { "id": "1234", "companyId": 21474836, "currency": "EUR", "shipFrom": { "city": "", "country": "", "region": "", "postalCode": "" }, "shipTo": { "country": "DE", "region": "", "postalCode": "" }, "lines": [ { "lineNumber": 1, "quantity": "1", "item": { "itemCode": "34636", "description": "cotton dress", "summary": "", "itemGroup": "clothing > dresses", "classificationParameters": [ { "name": "price", "value": "1000", "unit": "USD" }, { "name": "coo", "value": "GL", "unit": "" }, { "name": "hs_code", "value": "18062095", "unit": "" }, { "name": "length", "value": "10", "unit": "in" }, { "name": "width", "value": "10", "unit": "in" }, { "name": "height", "value": "10", "unit": "in" }, { "name": "Weight", "value": "20", "unit": "lb" } ] } } ] }
    SampleResponse:
      summary: Restriction api example response
      value: { "lines": [ { "item": { "itemCode": "34636", "description": "cotton dress", "summary": "", "itemGroup": "clothing > dresses", "classificationParameters": [ { "name": "price", "value": "1000", "unit": "USD" }, { "name": "coo", "value": "GL", "unit": "" }, { "name": "hs_code", "value": "18062095", "unit": "" }, { "name": "length", "value": "10", "unit": "IN" }, { "name": "width", "value": "10", "unit": "IN" }, { "name": "height", "value": "10", "unit": "IN" }, { "name": "Weight", "value": "20", "unit": "LB" } ] }, "lineNumber": 1, "quantity": 1, "restrictions": [ { "type": "Import", "regulation": "DOCUMENT", "hsCode": "9401200090", "compliance_message": "Import of the products of animal origin is subject to the presentation of a CVED in accordance with the conditions laid down in Regulation (EC) No 136/2004 (OJ L21)" }, { "type": "Import", "regulation": "DOCUMENT", "hsCode": "9401200091", "compliance_message": "Personal consignments, entering the Union from third countries, of products of animal origin for personal human consumption and for the feeding of pets as listed in Article No 2 of Regulation (EC) 206/2009 points 1) and 2) shall not be subjected to veterinary checks." } ] } ], "id": "1234", "companyId": 21474836, "currency": "EUR", "shipFrom": { "city": "", "region": "", "country": "", "postalCode": "" }, "shipTo": { "region": "", "country": "DE", "postalCode": "" } }
